@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgb(241, 245, 249);
  --primary-blue: rgb(26, 36, 52);
  --secondary-blue: rgb(51, 58, 71);
  --sea-blue: rgb(60, 80, 224);
  --green: rgb(39, 192, 141);
  --red: rgb(220, 53, 69);
}

* {
  @apply text-base;
}

body {
  @apply text-gray-600 tracking-wide;
  font-family: "poppins", "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--background-color);
}

nav a.router-link-exact-active {
  @apply font-medium bg-[--secondary-blue];
}
nav a:hover {
  @apply font-medium;
}
nav a {
  @apply ease-in duration-100;
}
.padding{
 @apply px-12
}